div.home
  section#slide-1.slide(scroll-slide='', data-max-height="true")
    div.bgc(data-center='background-position: 50% 0px;'
      data-top-bottom='background-position: 50% -100px;'
      data-anchor-target='#slide-1')
      div.slide-container
        div.slide-content(data-center='opacity: 1',
          data-50-top='opacity: 0',
          data-anchor-target='#slide-1 h1')
          img.logo(src='/img/logo-transparent.png',
            alt='Ramon James :: Digital renaissance human',
            data-start='transform: rotateY(0deg);',
            data--100-top='transform: rotateY(-180deg);'
            )
          h1 Ramon James
          p Digital renaissance human

  section#slide-2.slide
    div.bgc(data-center='opacity:1'
      data-100-bottom='opacity:.1'
      data-anchor-target='#slide-2')
      div.slide-container
        div.slide-content
          h2 Post Enlightenment in the digital age
          p Digital integration and production... Coming soon

  section#slide-3.slide
    div.bgc
      div.slide-container
        div.slide-content