div.home
  section#slide-1.slide(scroll-slide='', data-max-height="true")
    div.bgc(data-center='background-position: 50% 0px;'
      data-top-bottom='background-position: 50% -100px;'
      data-anchor-target='#slide-1')
      div.slide-container
        div.slide-content(data-center='opacity: 1',
          data-50-top='opacity: 0',
          data-anchor-target='#slide-1 h1')
          img.logo(src='img/logo-transparent.png',
            alt='{{author.name}} :: {{author.description}}',
            data-start='transform: rotateY(0deg);',
            data--100-top='transform: rotateY(-180deg);'
            )
          h1 {{author.name}}
          p {{author.description}}

  section#slide-2.slide
    div.bgc(data-center='opacity:1'
      data-100-bottom='opacity:.1'
      data-anchor-target='#slide-2')
      div.slide-container
        div.slide-content(ng-bind-html='content')

  section#slide-3.slide
    div.bgc(data-start='background-size:170%'
      data-center-top='background-size:200%'
      data-anchor-target='#slide-3')
      div.slide-container
        div.slide-content
          h2 Services
          div.services
            span.label.label-black Professional writing
            span.label.label-black Website design and development
            span.label.label-black Social media
            span.label.label-black SEO
            span.label.label-black Illustration
            span.label.label-black Javascript/HTML5/CSS3
            span.label.label-black Test driven AngularJS Application
            span.label.label-black Digital strategy
          h2 Clients
          div.image-tiles
            img(src='img/akqa.jpg', alt='AKQA')
            img(src='img/aol.jpg', alt='AOL')
            img(src='img/axel-springer.jpg', alt='Axel Springer')
            img(src='img/bbc.jpg', alt='BBC')
            img(src='img/fairfaxmedia.jpg', alt='Fairfax Media')
            img(src='img/news.jpg', alt='News Ltd')
            img(src='img/nokia.jpg', alt='Nokia')
            img(src='img/sky.jpg', alt='BSYKB')
            img(src='img/tui.jpg', alt='TUI Group')
          h3 Get in touch
          p
           a.btn(href='mailto:hello@ramon-james.com') hello@ramon-james.com