doctype html
html(lang='en', ng-app='ramonjames', ng-controller='MainController')
  head
    title(ng-bind='title')
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='icon', type='image/png', href='img/favicon.png')
    link(rel='profile', href='http://microformats.org/profile/hcard')
    each val in scripts.head
          script(src=val, type='text/javascript')
    each val in styles
      link(rel='stylesheet', href=val)
  body(ng-class='{loading:loading}')
    div.loading-logo
    main#main.view-animate-container
      div.view-animate(ng-view='', ng-cloak='')
    footer
      div.units-row
        div.unit-70
          nav.navbar
            ul
              li
                a(href='/') Home
              li
                a(href='/about') About
              li
                a(href='mailto:hello@ramon-james.com') Contact
        div.unit-30
          p.copy
            span.org &copy; &nbsp;
            a(href='/') Ramon James Ltd &nbsp;
            span.date #{new Date().getFullYear()}
    if vendor
      each val in vendor
        script(src=val, type='text/javascript')
    each val in scripts.body
      script(src=val, type='text/javascript')